@use '../00_variables/variables' as *;

.section {
    display: flex;
    max-width: 100%;
    padding-block: spacing(32);
    
    &.center {
        justify-content: center;
    }
    
    &__inner {
        width: $layout-inner-width;
        max-width: $layout-max-width;
        position: relative;
        margin: 0 auto;

        img {
            max-width: 100%;
        }
    }

    &.no-mg {
        margin: 0;
        margin-block: 0;
        margin-inline: 0;
    }
}

.fixed {
    position: fixed;
    z-index: $layout-z-fixed;
    width: 100%;
}