// 01_atoms/_reset.scss
@use '../00_variables/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
<<<<<<< HEAD
  text-size-adjust: 100%;
=======
  -webkit-text-size-adjust: 100%;
>>>>>>> 13b27ff3b545faa49af5547e56a57a52129d4fb4
  scroll-behavior: smooth;
  hanging-punctuation: first last;
}

body {
  min-height: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

// Médias
img,
video,
canvas,
svg,
picture {
  display: block;
  max-width: 100%;
}

// Formulaires
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

textarea {
  resize: vertical;
  overflow: auto;
}

// Typo
p,
h1, h2, h3,
h4, h5, h6 {
  overflow-wrap: break-word;
}

// Listes
ul, ol {
  list-style: none;
}

// Liens
a {
  color: inherit;
  text-decoration: none;
}

// Tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Accessibilité
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}